.App {
    max-width: 1200px;
    padding: 20px 0;
    margin: 0 auto;
    text-align: center;
}

.link {
    font-weight: bold;
    color: #34345c;
    background: transparent;
    border: 0;
}

.link:hover {
    outline: none;
    color: red;
    text-decoration: none;
}
